<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wmm.product.mapper.ProductsMapper">
  <resultMap id="BaseResultMap" type="com.wmm.pojo.Products">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="goods_desc" jdbcType="VARCHAR" property="goodsDesc" />
    <result column="goods_stock" jdbcType="INTEGER" property="goodsStock" />
    <result column="goods_type" jdbcType="VARCHAR" property="goodsType" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `NAME`, price, flag, goods_desc, goods_stock, goods_type
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from products
    where id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from products
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wmm.pojo.Products" useGeneratedKeys="true">
    insert into products (`NAME`, price, flag,
      goods_desc, goods_stock, goods_type
      )
    values (#{name,jdbcType=VARCHAR}, #{price,jdbcType=DOUBLE}, #{flag,jdbcType=VARCHAR},
      #{goodsDesc,jdbcType=VARCHAR}, #{goodsStock,jdbcType=INTEGER}, #{goodsType,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wmm.pojo.Products" useGeneratedKeys="true">
    insert into products
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `NAME`,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="goodsDesc != null">
        goods_desc,
      </if>
      <if test="goodsStock != null">
        goods_stock,
      </if>
      <if test="goodsType != null">
        goods_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsStock != null">
        #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        #{goodsType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.wmm.pojo.Products">
    update products
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="goodsDesc != null">
        goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      </if>
      <if test="goodsStock != null">
        goods_stock = #{goodsStock,jdbcType=INTEGER},
      </if>
      <if test="goodsType != null">
        goods_type = #{goodsType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.wmm.pojo.Products">
    update products
    set `NAME` = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      flag = #{flag,jdbcType=VARCHAR},
      goods_desc = #{goodsDesc,jdbcType=VARCHAR},
      goods_stock = #{goodsStock,jdbcType=INTEGER},
      goods_type = #{goodsType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryByPage" resultType="com.wmm.pojo.Products">
    select
    <include refid="Base_Column_List" />
    from products
    where 1=1
    <if test="name != '' and name != null">
      AND name like concat('%', #{name}, '%')
    </if>
    <if test="minPrice != '' and minPrice != null">
      AND price &gt;= #{minPrice}
    </if>
    <if test="maxPrice != '' and maxPrice != null">
      AND price &lt;= #{maxPrice}
    </if>
    <if test="minStock != '' and minStock != null">
      AND stock &gt;= #{minStock}
    </if>
    <if test="maxStock != '' and maxStock != null">
      AND stock &lt;= #{maxStock}
    </if>
    <if test="status != '' and status != null">
      AND status = #{status}
    </if>
    <if test="catalog != '' and catalog != null">
      and goods_type = #{catalog}
    </if>
    ORDER BY id
    LIMIT #{startRow}, #{pageSize}
  </select>

  <select id="queryByOrderId" resultType="com.wmm.pojo.Products" parameterType="java.lang.Integer">
    select <include refid="Base_Column_List" /> from products
    where id in (select goods_id from orders_vs_goods where orders_id = #{orderId}) ORDER BY id
  </select>


  <select id="queryByPageTotal" resultType="java.lang.Integer">
    select count(*)
    from products
    where 1=1
    <if test="name != '' and name != null">
      AND name like concat('%', #{name}, '%')
    </if>
    <if test="minPrice != '' and minPrice != null">
      AND price &gt;= #{minPrice}
    </if>
    <if test="maxPrice != '' and maxPrice != null">
      AND price &lt;= #{maxPrice}
    </if>
    <if test="minStock != '' and minStock != null">
      AND stock &gt;= #{minStock}
    </if>
    <if test="maxStock != '' and maxStock != null">
      AND stock &lt;= #{maxStock}
    </if>
    <if test="status != '' and status != null">
      AND status = #{status}
    </if>
    <if test="catalog != '' and catalog != null">
      and goods_type = #{catalog}
    </if>
  </select>


  <select id="queryByOrderIdTotal" resultType="java.lang.Integer">
    select count(*) from products
    where id in (select goods_id from orders_vs_goods where orders_id = #{orderId})
  </select>
</mapper>